.button-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: gainsboro;
    height: 35px;
    width: 135px;
    border: none;
}
.icon-container {
    height: 25px;
    width: 25px;
    margin-top: 4px;
}
.icon {
    height: 20px;
    width: 20px;
    color: darkblue;
}
.text-container {
    margin: 2px;
    padding: 2px;
}