.btn-container {
    border-style: solid;
    border-width: thin; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: inherit;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.btn-container:hover{
    background-color: white;
}
.icn-container {
    margin-top: 4px;
}
.icn {
    color: darkblue;
}
.txt-container {
    margin: 2px;
    padding: 2px;
}