.button-container {
    border-style: solid;
    border-width: thin; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    height: 50px;
    width: 150px;
}
.icon-container {
    height: 25px;
    width: 25px;
    margin-top: 4px;
}
.icon {
    height: 22px;
    width: 22px;
    color: darkblue;
}
.text-container {
    margin: 2px;
    padding: 2px;
}
.text {

}