.App {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  background-color: beige;
}