.container {
    background-color: white;
    height:720px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.box-style {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50%;
    box-shadow: 24;
}

.container-inset {
    padding: 5%;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-width: 2px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.header-button {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}
.header-text {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.input-box-container {
    text-align: left;
    background-color: #E8E8E8;
    padding: 20px;
    margin:10px
}
.input-box {
    border: 0;
    outline: 0;
    background-color: inherit;
    height: 100%;
    width: 100%;
}
.date-time-input {
    flex-direction: row;
    display: flex;
}
.date-input {
    text-align: left;
    background-color: #E8E8E8;
    padding: 20px;
    margin:10px;
    width: 20%
}
.time-input {
    text-align: left;
    background-color: #E8E8E8;
    padding: 20px;
    margin:10px;
    width: 20%
}
.task {
    text-align: left;
    padding: 10px;
}
.task-dropdown {
    border: 2px solid;
    outline: 0;
    background-color: inherit;
    width: 98%;
}

.buttons-container {
    float: right;
    padding: 2px;
    margin-right: 2%;
    display: flex;
    flex-direction: row;
}

.clear-button {
    padding-left: 35px;
    padding-right: 35px;
    border: 2px;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    width: 130px;
    border-radius: 5px;
    background-color: white;
}

.save-button {
    padding-left: 35px;
    padding-right: 35px;
    border: 2px;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    width: 130px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
}
