.btn{
    padding-left: 35px;
    padding-right: 35px;
    border: 2px;
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    width: 130px;
    border-radius: 5px;
    
}
.btn:hover{
    color: rgb(255, 255, 255);
    animation: normal;
}