.status-main {
    background-color: inherit;
    border-bottom: 2px dotted black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin-left: 10%
}

.open-style {
    color: orange;
}
.close-style {
    color: blue;
}